{% extends 'main/base.html' %} {% load static %} {% block content %}

<!-- PAGE HEADING -->
<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="breadcrumb"><a href="#">Home</a> / Single Property</span>
        <h3>Single Property</h3>
      </div>
    </div>
  </div>
</div>

<!-- PROPERTY DETAIL SECTION -->
<div class="section best-deal pt-0">
  <!-- pt-4: padding-top, tepaga biroz joy -->
  <div class="container">
    <!-- TITLE -->
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h2>Title of House</h2>
      </div>
    </div>

    <!-- PROPERTY INFO & IMAGE -->
    <div class="row">
      <!-- INFO TABLE -->
      <div class="col-lg-3 mb-4">
        <div class="info-table">
          <ul>
            <li>
              Category
              <span style="font-style: normal; color: #f35525"
                >Luxury Villa</span
              >
            </li>
            <li>Price <span>$ 540</span></li>
            <li>Total Flat Space <span>540 m²</span></li>
            <li>Floor number <span>3</span></li>
            <li>Number of rooms <span>8</span></li>
            <li>Parking Available <span>Yes</span></li>
            <li>Payment Process <span>Bank</span></li>
          </ul>
        </div>
      </div>

      <!-- PROPERTY IMAGE -->
      <div class="col-lg-6 mb-4 text-center">
        <img
          src="{% static 'images/deal-01.jpg' %}"
          alt="Property Image"
          class="img-fluid rounded"
        />
      </div>

      <!-- DESCRIPTION -->
      <div class="col-lg-3 mb-4">
        <h4>All Info About Apartment</h4><br>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, do eiusmod
          tempor pack incididunt ut labore et dolore magna aliqua quised ipsum
          suspendisse. <br /><br />Swag fanny pack lyft blog twee. JOMO ethical
          copper mug, succulents typewriter shaman DIY kitsch twee taiyaki fixie
          hella venmo after messenger poutine next level humblebrag swag
          franzen.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
