{% extends 'main/base.html' %} {% load static %} {% block content %}

<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="breadcrumb">
          <a href="{% url 'home' %}">Home</a> / Properties
        </span>
        <h3>Properties</h3>
      </div>
    </div>
  </div>
</div>

<div class="section properties">
  <div class="container">
    <ul class="properties-filter">
      <li><a {% if not category_filter %} class="is_active" {% endif %}href="{% url 'property' %}" >Show All</a></li>
      {% for category in categories %}
      {% if category.villas.exists %}
      <li><a {% if category_filter == category.name %} class="is_active" {% endif %} href="?category={{category.name}}" >{{category.name}}</a></li>
      {%endif%}
      {% endfor %}

    </ul>
    <div class="row properties-box">
      {% for villa in villas %}
      <div class="col-lg-4 col-md-6 align-self-center mb-30 properties-items adv">
        <div class="item">
          
          <!-- IMAGE -->
          <a href="{% url 'detail' villa.pk %}">
            <img style="height: 200px;" src="{{ villa.image.url }}" alt="{{ villa.name }}">
          </a>
    
          <!-- CATEGORY -->
          <span class="category">{{ villa.category }}</span>
    
          <!-- PRICE -->
          <h6>${{ villa.price }}</h6>
    
          <!-- NAME / ADDRESS -->
          <h4>
            <a href="{% url 'detail' villa.pk %}">{{ villa.name }}</a>
          </h4>
    
          <!-- PROPERTY DETAILS -->
          <ul>
            <li>Bedrooms: <span>{{ villa.bedroom }}</span></li>
            <li>Bathrooms: <span>{{ villa.bathroom }}</span></li>
            <li>Area: <span>{{ villa.area }} m²</span></li>
            <li>Floor: <span>{{ villa.floor }}</span></li>
            <li>Parking: <span>{{ villa.parking }} spots</span></li>
          </ul>
    
          <!-- BUTTON -->
          <div class="main-button">
            <a href="{% url 'detail' villa.pk %}">View Details</a>
          </div>
    
        </div>
      </div>
      {% endfor %}
    </div>
    
    
    




    <div class="row">
      <div class="col-lg-12">
        <ul class="pagination">
          <li><a href="#">1</a></li>
          <li><a class="is_active" href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">>></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
